**/__pycache__
**/__pycache__/
**/.ipynb_checkpoints/
*.egg
*.egg-info  

.DS_Store

mineru.json

test/example

cache
cache_local
.cache
cache*
test_mineru
test/test_cli

.vscode
dist
build
*.html
*.xlsx
lib
hf_cache/
downloaded_databases/
downloaded_databases_vec/
outputs_mineru/

*.pdf
sample_pdfs/

copy_pdfs.py